@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family: "DM Sans", sans-serif;
}

header {
    color: white;
    background-color: #2F1893;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

nav ul{
    display: flex;
    line-height: 2.1;
}

nav ul li{
    list-style: none;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
}

.btn1{
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 0;
    background-color: #2F1893;
    color: white;
    padding: 0 30px;

}

.btn2 {
    border-radius: 20px;
    padding: 5px 25px;
    background-color: #2F1893;
    color: white;
    border: 2px solid #ffffff3d;
    }

.img{
    line-height: 4.8;
}

.btn{
    line-height: 3.8;
}
html, body{
    padding: 0;
    margin: 0;
}


.heroleft {
    color: white;
}

.heroleft{
    margin-top: 50px;
    margin-bottom: 0;
}

.hero-right{
    text-align: center;
    background-color: #EBEAED;
    color: #1E0E62;
    border-radius: 5px;
    padding: 50px 40px;
    margin: 15px 0 20px;
    width: 335px;
    box-sizing: border-box;
    
}

.checkbox-text{
    color: #15143966;
}

.acc{
    color: #15143966;
}
 
.form-lab{
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    display: block;
    border-radius: 15px;
    padding: 9px;
    box-sizing: border-box;
    margin: 0 0 18px;
    border: 1px solid #adaab3;
    outline: none;
}

.hero{ 
    background-color: #2F1893;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

.btn-signup, .btn-twi{
    cursor: pointer;
    border: 0;
    color: white;
    width: 100%;
    border-radius: 18px;
    padding: 9px;
    background-color: #482BE7;
}

.btn-signup{
    margin-top: 20px;
}

.btn-twi{
    background-color: #1DA1F2;
}

.divider {
    display: flex;
    align-items: center;
    margin: 10px;
    color: #666;
}

.divider hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.divider span{
    padding: 10px -20px;
    margin: 0 120px 0 0px;
}



.hero-right form p span{
    color: #25DAC5;
    
}

.btn-left{
    border-radius: 20px;
    background-color: #E93A7D;
    border: 0;
    padding: 12px 20px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}
 


.content{
    border: 100px;
    background-color: #ffffff;
    padding: 0 250px;
}

.con-p{
    display: flex;
    color: #15143966;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 15px;
    padding-bottom: 40px;
}

.content h2{
    color: #1E0E62;
    padding-top: 60px;
    text-align: center;
}

.feats{

}

.feats-content-left h5, .feats-body h1{
    color: #1E0E62;
}

.feats-body{
    text-align: center;
    margin-bottom: 70px;
}
.feats-body p, .feats-content-left p{
    color: #15143966;
}

.feats-rl {
    display: flex;
}

.feats-content-left{
    padding: 0 210px 0 ;
    margin-left: 120px;
    
}
.feats-content-left p{
    font-size: 15px;
    margin-top: -5px;
}

.feats-content-right img{
    width:100%;
    margin-top: -20px;
    margin-left: -180px;
}

.together{
    margin-bottom: 60px;
}