@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family: "DM Sans", sans-serif;
}

header {
    color: white;
    background-color: #2F1893;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

nav ul{
    display: flex;
    line-height: 2.1;
}

nav ul li{
    list-style: none;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
}

.btn1{
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: 0;
    background-color: #2F1893;
    color: white;
    padding: 0 30px;

}

.btn2 {
    border-radius: 20px;
    padding: 5px 25px;
    background-color: #2F1893;
    color: white;
    border: 2px solid #ffffff3d;
    }

.img{
    line-height: 4.8;
}

.btn{
    line-height: 3.8;
}
html, body{
    padding: 0;
    margin: 0;
}


.heroleft {
    color: white;
}

.heroleft{
    margin-top: 50px;
    margin-bottom: 0;
}

.hero-right{
    text-align: center;
    background-color: #EBEAED;
    color: #1E0E62;
    border-radius: 5px;
    padding: 50px 40px;
    margin: 15px 0 20px;
    width: 335px;
    box-sizing: border-box;
    
}

.checkbox-text{
    color: #15143966;
}

.acc{
    color: #15143966;
}
 
.form-lab{
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

.hero input[type="email"],
input[type="password"] {
    width: 100%;
    display: block;
    border-radius: 15px;
    padding: 9px;
    box-sizing: border-box;
    margin: 0 0 18px;
    border: 1px solid #adaab3;
    outline: none;
}


.hero{ 
    background-color: #2F1893;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

.btn-signup, .btn-twi{
    cursor: pointer;
    border: 0;
    color: white;
    width: 100%;
    border-radius: 18px;
    padding: 9px;
    background-color: #482BE7;
}

.btn-signup{
    margin-top: 20px;
}

.btn-twi{
    background-color: #1DA1F2;
}

.divider {
    display: flex;
    align-items: center;
    margin: 10px;
    color: #666;
}

.divider hr{
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.divider span{
    padding: 10px -20px;
    margin: 0 120px 0 0px;
}



.hero-right form p span{
    color: #25DAC5;
    
}

.btn-left, .foots-item4 button{
    border-radius: 20px;
    background-color: #E93A7D;
    border: 0;
    padding: 12px 20px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}
 
.btn-left a:visited{
    color: #8ab8a3;
}

.btn-left a{
    color: #fff;
}

.btn-left a:hover{
    color: black;
}

.content{
    border: 100px;
    background-color: #ffffff;
    padding: 0 250px;
}

.con-p{
    display: flex;
    color: #15143966;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 15px;
    padding-bottom: 40px;
}

.content h2{
    color: #1E0E62;
    padding-top: 60px;
    text-align: center;
}


.feats-content-left h5, .feats-body h1, .feats2-content-left h3, .feats2-content-left h6, .right-comms h2, .right-comms h5, .showcase-head h2, .showcase-body h3, .con-right h5, .con-right h1, .con-left h1 {
    color: #1E0E62;
}

.feats-body{
    text-align: center;
    margin-bottom: 70px;
}
.feats-body p, .feats-content-left p, .feats2-content-left p, .feats2-content-left small, .right-comms p, .showcase-head p, .showcase-body p, .con-right p, .con-left p{
    color: #15143966;
}

.feats-rl, .feats2-rl, .comms-body, .price-btn, .foots-body, .last-foots, .first-btn, .dollar-sign, .p-items, .contacts-body{
    display: flex;
}

.feats-content-left{
    padding: 0 210px 0 ;
    margin-left: 120px;
    
}
.feats-content-left p{
    font-size: 15px;
    margin-top: -5px;
}

.feats-content-right img{
    width:100%;
    margin-top: -20px;
    margin-left: -180px;
}

.together{
    margin-bottom: 60px;
}

.feats2-content-left{
    margin-left: 100px;
    margin-top: 120px;

}
.feats2-content-left small{
    font-size: 10.5px;
}

.feats2-content-right img{
    margin-top: 90px;
    width: 70%;
    margin-left: 260px;
}
.feats2-rl{
    gap: 40px;
    margin-bottom: 50px;
}

.feats2-content-left p{
    font-size: 12.5px;
}

.same-tags1{
    margin-bottom: 50px;
}
.img-all{
    margin-right: 8px;

}

.left-comms img{
    width: 70%;
}

.price-btn button{
    border-radius: 25px;
    background-color: #482BE7;
    padding: 2px 22px;
    color: #fff;
    margin-top: 10px;
    border: 0;
}

.price-btn{
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.price-btn p {
    color: #1E0E62;
}
.pic-comms img{
    margin: 1px 3px;
}
.right-comms{
    margin-top: 20px;
    margin-right: 30px;
}

.foots-body, .last-foots{
    justify-content: space-between;
}

.foots{
    background-color: #2F1893;
    color: #fff;
    padding-bottom: 30px;
    margin-top: -4.5px;
}
.foots-item1 h4{
    color: #EBEAED;
}

.foots-body{
    margin: 0 80px;
}
.foots-item4, .foots-item1, .foots-item2, .foots-item3{
    margin-top: 50px;
}

.foots-item4 p, .pricing-head, .showcase-head {
    text-align: center;
}
.first-btn button{
    border-radius: 25px;
    background-color: #25DAC5;
    padding: 2px 22px;
    color: #fff;
    margin-top: 3px;
    border: 0;
}
.first-btn input[type="email"] {
    background-color: #2F1893;
    border-radius: 25px;
    border:1px solid #ffffff3d;
    /* margin-top: 10px; */
    margin-right: 10px;
    margin-bottom: 1px;
    padding: 10px;
}

.first-btn :placeholder-shown{
    color: white;
    font-size: 12px;
}

.last-foots{
    margin-top: 70px;
}

.first-btn{
    margin-top: 30px;
}

.foots-item2 p, .foots-item3 p, .foots-item4 p{
    font-size: 14px;
}
.pricing-item1{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    /* margin-left: 120px; */
    margin-bottom: 40px;
    /* margin-right: 120px; */
    margin-top: 40px;
    padding: 40px 80px 40px 40px;
    /* padding-right: 60px; */
    /* padding-left: 60px; */
}

.p-items{
    justify-content: center;
    gap: 25px;
}
.p-items h4{
    color: white;
}

.pricing{
    background: url(./images/Mask.png) no-repeat center right /cover;
    width: 100%;
    min-width: 300px;
    color: #fff;
    padding-top: 40px;
    background-color: rgb(39, 14, 149);

}

.dollar-sign small{
    margin-top: 30px;
    /* margin: 0 40px; */

}
.pricing-item1 img{
    margin-right: 5px;
}


.p-2s{
    font-weight: 200;
    margin-left: 20px;
}
.pricing-item1 button{
    border-radius: 25px;
    background-color: #E93A7D;
    padding: 12px 40px;
    color: #fff;
    margin-top: 5px;
    border: 0;
    margin-left: 20px;
}

.pricing-item1 p{
    text-align: start;
}
.like-button button {
    background-color: inherit;
    border: 1px solid rgb(186, 176, 176);
}

.showcase-head button{
    border-radius: 25px;
    background-color: #25DAC5;
    padding: 8px 20px;
    color: white;
    /* margin-top: 5px; */
    border: 0;
}
.sc-btn2 button{
    color: #1E0E62;
    background-color: inherit;
    border: 1px solid #EBEAED;
}
.sc-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
    padding-top: 12px;
    margin-right: 40px;
}
.showcase-body1 img{
    width: 90%;
}
.sc-bodyup p{
    font-size: 15px;
}

.sc-bodyup{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 70px;
    /* gap: -200px; */

}

.form-div{
    border: 2px solid #ffffff3d;
    background-color: #EBEAED;
    height: 73%;
    box-sizing: border-box;

    position: absolute;
    width: 28%;
    padding-left: 12px;
}

.contacts-body

.email-div {
    margin: 25px 0 0 25px;
    color: #1E0E62;

}
.msg-div {
    margin: 25px 0 0 25px;
    color: #1E0E62;
}

.msg-div input[type="text"] {
        width: 80%;
        display: block;
        height: 150px;
        box-sizing: border-box;
        border-radius: 8px;
        margin: 14px 0 14px;
        border: 1px solid #ccc;
}


.name-div input[type="name"] {
    /* border-radius: 10px; */
    /* border: 0; */
    /* padding: 8px 50px 8px 2px; */
    /* margin-right: 40px; */
    /* margin-left: 0px; */

    width: 55%;
    display: block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    /* margin-bottom: px; */
    border: 1px solid #ccc;
}

.msg-div input:placeholder-shown{
    padding-bottom: 100px;
    padding-left: 20px;
    cursor: auto;
}

.email-div input:placeholder-shown{
    padding-left: 20px;
}

.name-div input:placeholder-shown{
    padding-left: 20px;
}

.name-div button{
    border-radius: 25px;
    background-color: #25DAC5;
    padding: 8px 20px;
    color: white;
    border: 0;
    margin-left:160px;
    margin-top: 26px;
}


.email-div input[type="email"] {
    width: 80%;
    display: block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 14px 0 14px 0;
    border: 1px solid #ccc;
}

.name-div{
    margin: 20px 0 0 25px;
    /* border-radius: 20px; */
    display: flex;
    color: #1E0E62;
}

.contacts-body{
    justify-content: center;
    gap: 120px;
    padding: 20px 0 40px 0;
}

.name-div input{
    margin-top: 25px;
    /* padding-left: px; */
    /* margin-right: 90px; */
    /* text-align: start; */
    position: absolute;
}

/* learn more CSS */
.pages{
    display: flex;
    position: absolute;
    gap: 60px;
    margin: 30px 0 0 70px;
}

.p-right h1, h4, h3 , .art-1 p, .p-left h3, .p-left p{
    color: #1E0E62;

}

.p-right p, .art-2 p, .art-3 p, .p-left h5, .date-div small, .news-div p{
    color: #15143966;
}

.news-div{
    border: 1.5px solid #EBEAED;
    margin-top: 30px;
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}

.news-div-inside{
    display: flex;
    gap: 10px;
}

.news-div-inside button{
    border-radius: 25px;
    background-color: #25DAC5;
    padding: 1px 20px;
    color: white;
    border: 0;
    margin-bottom: 13px;

}


.news-div-inside input[type="email"] {
    width: 65%;
    display: block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 0 14px;
    border: 1px solid #ccc;
}


.pics-div{
    display: flex;
    /* gap: 10px; */
    /* position: relative; */
}

.pics-div img{
    width: 44%;
    margin-right: 10px;
    margin-bottom: 10px;
    /* position: relative; */
}
.pics-div p{
    margin-top: 0;
    text-align: start;
}
/* .date-div{
    margin-left: 135px;
    margin-top: -44px;
} */
.p-head h1{
    margin-bottom: 3px;
}
.art-1{
    padding-bottom: 8px;
}

.art-3 img{
    margin-bottom: -10px;
    width: 90%;
    margin-top: 35px;
}

.art-2 img{
    width: 90%;
    margin-top: 35px;

}


.art-2 p, .art-3 p{
    font-size: 14px;
}

.page-btn button{
    border: 0;
    background-color: #E93A7D;
    color: white;
    border-radius: 20px;
    padding: 8px 20px;
}


